.hero {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.hero-title {
    font-size: 4rem;
    font-weight: 800;
    color: #056341;
    text-align: left;
    margin-bottom: 24px;
}

.hero-head {
    font-size: 3.1rem;
    font-weight: 300;
    color: #056341;
    text-align: left;
    margin-bottom: 32px;
}

.hero-text {
    width: 588px;

    font-size: 1.5rem;
    font-weight: 400;
    color: #056341;
    text-align: left;
    line-height: 2rem;
    margin-bottom: 48px;
}

/* .cta-button {
    background-color: #E4572E;
    width: 250px;
    height: 54px;
    border-radius: 8px;
    border: none;

    box-shadow: 7px 10px 40px 0 rgba(0, 0, 0, 0.25);
}

.cta-button a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
} */


@media screen and (max-width: 1024px) {

    .hero-title {
        font-size: 3.1rem;
    }

    .hero-head {
        font-size: 2.3rem;
    }

}




@media screen and (max-width: 480px) {

    .hero {
        align-items: center;
    }

    .hero h1,
    .hero p {
        text-align: center;
    }

    .hero-title {
        font-size: 3.1rem;
    }

    .hero-head {
        font-size: 2.1rem;
    }

    .hero-text {
        width: 100%;

        font-size: 1.4rem;
        line-height: 1.8rem;
        margin-bottom: 48px;
    }


}