.post-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 48px;
    /* spazio tra immagine e contenuto */
    padding: 24px;
    border-radius: 16px;
    background: #F4F4F4;
    box-shadow: 7px 10px 40px 0 rgba(0, 0, 0, 0.25);

    width: 560px;
    height: 590px;
}

.post-card-image img {
    width: 100%;
    height: 340px;
    border-radius: 20px;
    object-fit: cover;
}

.post-card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.post-card-meta {
    font-size: 12px;
    color: #6b7280;
    /* grigio neutro */
}

.post-card-title {
    font-size: 18px;
    font-weight: 600;
    /* semibold */
    color: #056341;
    margin: 0;
}

.post-card-text {
    font-size: 16px;
    font-weight: 400;
    /* regular */
    color: #134e3a;
    margin: 0;
}

.post-card-tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.tag {
    background: #F1AB96;
    color: #056341;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.post-card:hover {
    cursor: pointer;
}


.tag:hover {
    background: #E4572E;
    color: #F4F4F4;
}

.tag-wrapper {
    display: flex;
    gap: 7px;
    /* margin-bottom: 10px; */
}




@media screen and (max-width: 480px) {
    .post-card {
        width: 400px;
    }
}