.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* ✅ invece di center */
    align-items: flex-start;
    /* ✅ invece di center */
    gap: 50px;
    row-gap: 50px;
    margin-bottom: 50px;
    width: 100%;
}



.post-row:hover {
    cursor: pointer;
}


.post-row {
    width: 75%;
    padding: 40px 40px 40px 40px;
    margin-bottom: 30px;

    /* border-bottom: 3px solid #056341; */
    /* border: 1px solid #056341; */
    border-radius: 50px;

}