.post-detail {
    padding: 2rem;
    width: 55%;
    margin: 0 auto;

    color: #056341;
}

.detail-image {
    width: 100%;
    max-height: 500px;
    margin: 1rem 0;
    border-radius: 8px;
}

h1 {
    margin-bottom: 30px;
    font-size: 3.1rem;
    font-family: 'Roboto';
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 30px;
}



/* .meta-info {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
    font-weight: 500;
}

.meta-info p {
    margin-bottom: 10px;
} */

.meta-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    margin: 12px 0 24px;
}

.meta-item {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #056341;
    font-size: 0.95rem;
}

.meta-icon {
    color: #056341;
    font-size: 1rem;
}


.content {
    line-height: 1.5;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 100px;
    width: 100%;
    white-space: pre-wrap;
}

.tag-badge {
    background: #e0f7f1;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
}

.tags {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.tag {
    margin: 0 5px;
    max-width: 20%;
}