.service-card {
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-card .service-img {
    height: auto;
    width: 70%;
    margin: 32px 0px 56px 0px;
}

.service-card .service-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-card-title {
    font-size: 1.8rem;
    font-weight: 800;
    color: #056341;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto';
    width: 80%;
}

.service-card-text {
    font-size: 1.4rem;
    font-weight: 100;
    color: #056341;
    text-align: center;
    margin-bottom: 20px;
    line-height: 2.1rem;
}











@media (max-width: 1024px) {


    .service-card-title {
        font-size: 1.6rem;

    }

    .service-card-text {
        font-size: 1.2rem;

    }

}




@media screen and (max-width: 768px) {

    .service-card-title {
        font-size: 1.4rem;

    }

    .service-card-text {
        font-size: 1.2rem;
        line-height: 1.8rem;

    }
}


@media screen and (max-width: 480px) {

    .service-card-title {
        font-size: 1.6rem;

    }

    .service-card-text {
        font-size: 1.2rem;

    }
}