.card-container {

    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.review-card {
    width: 300px;
    min-height: 450px;
    background-color: #F4F4F4;
    margin: 100px 0;
    text-align: center;
    border-radius: 16px;
    box-shadow: 7px 10px 40px 0 rgba(0, 0, 0, 0.25);

    height: auto;
    display: grid;
    grid-template-rows: auto 1fr auto;


    flex-direction: column;
    padding: 1.5rem;
    transition: transform 0.1s cubic-bezier(.33, .59, .83, .67);
}

.doctoralia-logo {
    width: 25px;
    margin: 10px auto 20px auto;
}


.review-card:hover {
    transform: translateY(-8px);
    box-shadow: 7px 10px 20px 0 rgba(0, 0, 0, 0.25);
}

.review-wrap {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.review-name {
    font-size: 1.5rem;
    color: #056341;
    font-weight: 800;
    margin-bottom: 32px;
}

.review-text {
    font-size: 1.2rem;
    font-weight: 100;
    color: #056341;
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.8rem;
}



.review-stars {
    margin-top: auto;
    /* 👈 spinge le stelle in fondo */
    padding-top: 20px;
    text-align: center;
}




@media screen and (max-width: 1220px) {

    .review-card {
        width: 280px;
    }
}



@media screen and (max-width: 1024px) {

    .review-card {
        width: 300px;
    }
}