.card-container {

    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.review-card {
    width: 300px;
    height: 390px;
    background-color: #F4F4F4;
    margin: 100px 0;
    text-align: center;
    border-radius: 16px;
    box-shadow: 7px 10px 40px 0 rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1.5rem;
}

.review-card:hover {
    transform: translateY(-2px);
    box-shadow: 7px 10px 40px 0 rgba(0, 0, 0, 0.25);
}


.review-name {
    font-size: 1.5rem;
    color: #056341;
    font-weight: 800;
    margin-bottom: 32px;
}

.review-text {
    font-size: 1.2rem;
    font-weight: 100;
    color: #056341;
    text-align: center;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.8rem;
}








@media screen and (max-width: 1220px) {

    .review-card {
        width: 280px;
        height: 440px;
    }
}



@media screen and (max-width: 1024px) {

    .review-card {
        width: 300px;
        height: 390px;
    }
}