.blog-page {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: #056341;
}

.blog-title {
    font-size: 3.1rem;
    font-weight: 800;
    color: #056341;
    margin-bottom: 48px;
    text-align: center;
}


.blog-text {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #056341;
    margin-bottom: 48px;
}



@media screen and (max-width: 480px) {


    .blog-title {
        font-size: 2.3rem;
        font-weight: 800;
        color: #056341;
        margin-bottom: 36px;
        text-align: center;
    }


}