.contacto {
    max-width: 80%;
    margin: 0 auto 150px auto;
    /* centrato + spazio sotto */
}

.contacto-title {
    font-size: 3.1rem;
    font-weight: 800;
    color: #056341;
    margin-bottom: 16px;
}

.contacto-title-break {
    display: none;
}

.contacto-head {
    font-size: 2rem;
    font-weight: 600;
    color: #056341;
    line-height: 2.4rem;
    margin-bottom: 48px;
}

.contacto-text {
    line-height: 2.3rem;
    color: #056341;
    font-size: 1.5rem;
    margin-bottom: 30px;

}




.contacto-text a {
    color: #056341;
    font-weight: 600;
    text-decoration: underline;
    overflow-wrap: anywhere;
    word-break: break-word;
}


.contact-button-wrapper {
    display: flex;
    justify-content: center;
    margin: 150px 0;
}


.contact-button {
    margin: auto;
    will-change: transform;
    transition: transform 0.1s cubic-bezier(.33, .59, .83, .67);
}

.contact-button:hover {
    cursor: pointer;
    transform: scale(1.1);

}



.contact-map {
    margin-top: 100px;
}

.contact-map-title {
    font-size: 2rem;
    font-weight: 800;
    color: #056341;
    margin-bottom: 20px;
}

.map-embed {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    /* importantissimo per arrotondare anche l'iframe */
}

.contact-map-address {
    margin-top: 18px;
    color: #056341;
    font-size: 1.2rem;
    line-height: 1.8rem;
}


@media screen and (max-width: 1024px) {
    .contacto {
        max-width: 90%;
    }

    .contacto-title {
        font-size: 2.5rem;
        line-height: 2.8rem;
    }

    .contacto-head {
        font-size: 1.7rem;
        line-height: 2.1rem;
    }
}


@media screen and (max-width: 768px) {
    .contacto-title {
        font-size: 2.3rem;
        line-height: 2.6rem;
    }

    .contacto-head {
        font-size: 1.5rem;
        line-height: 1.9rem;
    }

    .contacto-text {
        line-height: 2.1rem;
    }
}

















@media screen and (max-width: 480px) {

    .contacto-title-break {
        display: block;
    }

    .contacto-title {
        font-size: 2rem;
        line-height: 2.3rem;
        font-weight: 800;
        color: #056341;
        margin-bottom: 12px;
        text-align: left;

    }

    .contacto-head {
        font-size: 1.3rem;
        font-weight: 600;
        color: #056341;
        line-height: 1.7rem;
        margin-bottom: 32px;
        text-align: left;

    }

    .contacto-text {
        line-height: 1.9rem;
        color: #056341;
        font-size: 1.35rem;
        text-align: left;
    }

    .contact-map-title {
        font-size: 1.8rem;
        text-align: left;
    }

    .contact-map-address {
        font-size: 1.1rem;
        line-height: 1.6rem;
        text-align: left;

    }




}

