.contacto {
    max-width: 80%;
    margin: 0 auto 150px auto;
    /* centrato + spazio sotto */
}

.contacto-title {
    font-size: 3.1rem;
    font-weight: 800;
    color: #056341;
    margin-bottom: 48px;
}

.contacto-text {
    line-height: 2rem;
    color: #056341;
    font-size: 1.5rem;
}

.contacto-text a {
    color: #056341;
    font-weight: 600;
    text-decoration: underline;
}



@media screen and (max-width: 480px) {



    .contacto-title {
        font-size: 2.3rem;
        font-weight: 800;
        color: #056341;
        margin-bottom: 48px;

        text-align: center;

    }

    .contacto-text {
        line-height: 2rem;
        color: #056341;
        font-size: 1.5rem;
        text-align: center;

    }



}