.porque-elegirme {
    max-width: 80%;
    margin: 0 auto;
}

.porque-elegirme-title {
    font-size: 3.1rem;
    font-weight: 800;
    color: #056341;
    margin-bottom: 48px;
    width: 80%;
}

.porque-elegirme-list {
    list-style: none;
    padding: 0;
    margin-bottom: 150px;
}

.porque-elegirme-list li {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 36px;
    line-height: 1.6;
    color: #056341;
    font-size: 1.5rem;
}

.check-icon {
    color: #056341;
    width: 16px;
    height: 16px;
    flex: 0 0 24px;
    font-size: 2rem;
    margin-top: 12px;
}

.porque-elegirme-content {
    margin-bottom: 150px;

}

.porque-elegirme-content p,
li {
    line-height: 2.3rem;
    color: #056341;
    font-size: 1.5rem;
}

.porque-elegirme-content p {
    margin-bottom: 100px;
}

.porque-elegirme-content ul {
    margin-bottom: 100px;
}

.porque-elegirme-content li {
    margin-top: 10px;
}

.porque-elegirme-content h2 {
    font-size: rem;
    font-weight: 800;
    color: #056341;
}















@media (max-width: 1220px) {
    .porque-elegirme-title {
        font-size: 2.5rem;
        width: 80%;
    }


}





@media screen and (max-width: 1024px) {
    .porque-elegirme-title {
        font-size: 2.5rem;

        width: 90%;
    }
}

@media screen and (max-width: 480px) {


    .porque-elegirme-title {
        font-size: 2.5rem;
        font-weight: 800;
        color: #056341;
        margin-bottom: 48px;
        width: 100%;
    }


}