.servicios {
    max-width: 80%;
    margin: auto;
}


.service-wrapper {
    display: flex;
    gap: 50px;
}


.service-img {
    margin: 140px 0 24px;

}


.service {
    display: flex;
    flex-direction: column;
}


.service-img img {
    width: 250px;
    height: auto;
    object-fit: cover;
}

.servicios-title {
    font-size: 3.1rem;
    font-weight: 800;
    color: #056341;
    margin-bottom: 48px;
}

.servicios-text {
    line-height: 2.3rem;
    color: #056341;
    font-size: 1.5rem;
    margin-bottom: 150px;
}

.servicios-subtitle {
    font-size: 2rem;
    font-weight: 700;
    color: #056341;
    margin: 80px 0 24px;
}






/* Responsive */
@media (max-width: 1024px) {
    .servicios-title {
        line-height: 3.1rem;
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    .servicios-title {
        font-size: 1.8rem;
        font-weight: 800;
        color: #056341;
        margin-bottom: 48px;
        text-align: center;
    }

    .servicios-text {
        line-height: 2rem;
        color: #056341;
        font-size: 1.5rem;
        margin-bottom: 150px;
        text-align: center;
    }
}