.trayectoria {
    max-width: 80%;
    margin: auto;
    /* centrato + spazio sotto */

}

.trayectoria-title {
    font-size: 3.1rem;
    font-weight: 800;
    color: #056341;
    margin-bottom: 48px;
    width: 80%;
}

.trayectoria-text {
    line-height: 2.3rem;
    color: #056341;
    font-size: 1.5rem;
    margin-bottom: 24px;
}

.trayectoria-text:nth-of-type(3) {
    margin-top: 80px;
}

.trayectoria-text:last-child {
    margin-bottom: 150px;
}



.logo-wrap {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 200px;
    /* border: solid 1px green; */
}


.img-wrap img {
    width: 180px;
}
















@media (max-width: 1024px) {

    .trayectoria-title {
        line-height: 3.1rem;
        font-size: 2.5rem;

    }
}


@media screen and (max-width: 480px) {


    .trayectoria-title {
        font-size: 1.8rem;
        font-weight: 800;
        color: #056341;
        margin-bottom: 48px;
        text-align: center;
    }

    .trayectoria-text {
        line-height: 2rem;
        color: #056341;
        font-size: 1.5rem;
        margin-bottom: 24px;
        text-align: center;

    }
}