.trayectoria {
    max-width: 80%;
    margin: auto;
    /* centrato + spazio sotto */
}

.trayectoria-title {
    font-size: 3.1rem;
    font-weight: 800;
    color: #056341;
    margin-bottom: 48px;
}

.trayectoria-text {
    line-height: 2rem;
    color: #056341;
    font-size: 1.5rem;
    margin-bottom: 24px;
}

.trayectoria-text:last-child {
    margin-bottom: 150px;
}