/* Layout principale */
.dashboard {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 150px;
}

.sidebar,
.dashboard-header,
.dashboard-list {

    padding: 20px;
    background-color: #F4F4F4;
    border-radius: 8px;
    box-shadow: 7px 10px 15px 0 rgba(0, 0, 0, 0.25);


}

/* Sidebar a sinistra */
.sidebar {

    height: 300px;
    padding: 20px;
    margin: 0px 20px 0px 0px;

}

.sidebar h2 {
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 50px;
    text-transform: uppercase
}

.sidebar ul {
    list-style: none;
    padding: 0;

}

.sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
    font-weight: 500;
    color: #056341;
}



/* Contenuto principale */
.main-content {}

/* Header con statistiche */
.dashboard-header {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;

}

/* .stat-box:first-child {
    text-align: left;
} */

.stat-box {
    width: 200px;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    text-align: center;
}

.stat-box-num {
    font-size: 2rem;
    font-weight: 900;
}

.create-post-btn {
    background-color: #E4572E;
    color: white;
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
}

.create-post-btn:hover {
    background-color: #E4572E;
}

/* Lista post/tags */
.dashboard-list h3 {
    margin-bottom: 15px;
    font-size: 1.25rem;
    color: #056341;
}

.list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}

.list-row:hover,
.list-row:hover span,
.list-row:hover .actions {
    background-color: rgb(232, 248, 243);
}

.actions svg {
    margin-left: 12px;
    cursor: pointer;
    color: #056341;
    transition: color 0.2s;
}

.actions svg:hover {
    color: #E4572E;
}





/* form style */















@media (max-width: 1220px) {

    .dashboard-header {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 20px;
    }



    .stat-box {
        width: 150px;
        display: flex;
        flex-direction: column;
        font-weight: 500;
        text-align: center;
    }


    .list-row {
        padding: 12px 10px;
    }
}





@media (max-width: 768px) {

    .sidebar {
        display: none;

    }
}