@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ::-webkit-scrollbar {
    display: none;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    /* cursor: cell; */

}

body {
    background-color: #ddf5ec;
}

/* Lenis smooth scroll */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

h1,
h2 {
    font-family: 'Roboto';
}




header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 70px;
    padding: 10px 0px;
    background-color: #F4F4F4;
    box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;

}

.header-wrapper {
    width: 80%;
    margin: auto;
}











.homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: auto;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar {
    width: 100%;
    margin: auto;
}

.ecg-container {
    display: flex;
    flex-direction: column;
    width: 130px;
    padding: 5px;
}

.ecg-container p {
    color: #056341;
    font-weight: 800;
    width: 100%;
    font-size: 0.75rem;
    text-align: center;
}

.navlist ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.navlist ul li a {
    text-decoration: none;
    color: #056341;
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: uppercase;

    /* evita l'andata a capo */
    white-space: nowrap;
    font-family: 'Roboto';
}

.navlist ul li {
    will-change: transform;
    transition: transform 0.1s cubic-bezier(.33, .59, .83, .67);
}




.nav-item:hover {
    transform: scale(1.1);
}


.services {
    background-color: #F4F4F4;
    margin-top: 150px;
    margin-bottom: 150px;
}

.services-wrapper {
    align-items: top;
    width: 80%;
    margin: auto;
    padding: 130px 0px;
}

.services-wrapper h2 {
    font-size: 3.1rem;
    font-weight: 800;
    color: #056341;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}


.services-card-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}


.references {
    width: 80%;
    margin: auto;
    margin-bottom: 150px;
}

.references h2 {
    font-size: 3.1rem;
    font-weight: 800;
    color: #056341;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 48px;
}



.references-subtitle {
    font-size: 1.5rem;
    /* font-weight: 800; */
    color: #056341;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 56px;
}

.references-subtitle a {
    text-decoration: none;
    color: inherit;
}

.doctoralia-link {
    position: relative;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-style: italic;
}




.doctoralia-link::after {
    content: "";
    position: absolute;
    left: -4px;
    right: -4px;
    bottom: 0.05em;
    height: 1.1em;

    background: #FA9F47;
    border-radius: 10px 9px 5px 2px;

    z-index: -1;

    transform: scaleX(0) skewX(-3deg);
    transform-origin: left;
    transition: transform 0.1s ease-out;
}

.doctoralia-link:hover::after {
    transform: scaleX(1) skewX(-12deg);
}










.cta {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 50px;
}

.cta h2 {
    font-size: 3.1rem;
    font-weight: 800;
    color: #056341;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

.cta p {
    font-size: 1.7rem;
    font-weight: 400;
    color: #056341;
    margin: auto;
    text-align: center;
    margin-bottom: 80px;

    width: 90%;
}

.cta-button {
    background-color: #E4572E;
    width: 250px;
    height: 54px;
    border-radius: 8px;
    border: none;
    box-shadow: 7px 10px 40px 0 rgba(0, 0, 0, 0.25);
    /* margin-bottom: 150px; */
    margin-top: 50px;


    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;


    will-change: transform;
    transition: transform 0.1s cubic-bezier(.33, .59, .83, .67);
}

.cta-button:hover {
    transform: scale(1.1);
}



footer {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    line-height: 1.5rem;
    color: #056341;
    background-color: #F4F4F4;
    box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.25);
    margin-top: 150px;

}

.footer-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whatsapp-icon {
    font-size: 3rem;
    color: #056341;

    will-change: transform;
    transition: transform 0.1s cubic-bezier(.33, .59, .83, .67);
}

.whatsapp-icon:hover {
    transform: scale(1.2);
}









.admin-page {
    width: 80%;
    margin: auto;
    color: #056341;
}








.page-viewport {
    position: relative;
    overflow: hidden;
}

.slide-in,
.slide-out {
    position: fixed;
    top: 150px;
    /* ⬅️ header fisso 150px */
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: #043C28;
    opacity: 90%;
    pointer-events: none;
    transform-origin: top;
}

.slide-out {
    transform-origin: bottom;
}





/* !!!!!!!! MEDIA QUERIES !!!!!!!! */

/* 
Breakpoint	Dispositivi/casi d'uso
320px	Mobile portrait (schermi stretti)
480px	Mobile landscape (smartphone orizzontali)
768px	Tablet portrait (es. iPad)
1024px	Tablet landscape / laptop piccoli
1200px	Desktop medi/large
1280px+	Widescreen / monitor grandi */








@media (max-width: 1220px) {
    .navlist ul {
        gap: 40px;
    }

    .navlist ul li a {
        font-size: 1rem;
    }

    .references h2 {
        width: 80%;
    }


}






@media (max-width: 1024px) {



    .header-wrapper,
    .services-wrapper,
    .references,
    .cta,
    .footer-container,
    .admin-page {

        width: 90%;

    }



    .navlist ul {
        gap: 28px;
    }

    .navlist ul li a {
        font-size: 0.9rem;
    }


    .ecg-container {
        width: 100px;
        padding: 5px;
    }

    .services-wrapper h2,
    .references h2,
    .cta h2 {
        font-size: 2.3rem;
    }



}









@media (max-width: 768px) {

    .navlist ul {
        display: none;
    }

    .header-wrapper {
        width: 90%;
        margin: auto;
    }





    .services-wrapper,
    .references,
    .cta,
    .footer-container,
    .admin-page {

        width: 90%;

    }








    .navlist ul {
        gap: 28px;
    }

    .navlist ul li a {
        font-size: 0.8rem;
    }

    .ecg-container {
        width: 110px;
        padding: 5px;
    }
}





@media screen and (max-width: 480px) {



    .services-card-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* gap: 70px; */
    }


    .cta {
        width: 80%;
    }

    .services-wrapper h2,
    .references h2,
    .cta h2 {
        font-size: 2rem;
    }


    .space {
        display: none;
    }
}