@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

body {
    background-color: #ddf5ec;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 150px;
    padding: 50px 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.25);

}

.header-wrapper {
    width: 80%;
    margin: auto;

}

footer {
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    line-height: 1.5rem;
    color: #056341;

    /* position: fixed;
    bottom: 0; */


    /* border: 2px dashed #bdeede; */

}

footer a {
    text-decoration: none;
    color: #056341;
    font-weight: 600;
    font-size: 1.2rem;
}

.footer-title {}

.footer-bottom {
    margin-top: 50px;
}

.homepage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: auto;

    /* border: 2px dashed #bdeede; */

}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;


    /* border: 2px dashed #bdeede; */
}



.navbar {
    width: 100%;
    margin: auto;

}

.ecg-container {
    width: 150px;
    padding: 5px;
}

.navlist ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;

    list-style: none;

}

.navlist ul li a {
    text-decoration: none;
    color: #056341;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
}

.nav-item:hover {
    scale: 1.2;
}

/* .navbar a.active {
    border-bottom: 2px solid #056341;
    padding: 4px 8px;
} */

.services {
    background-color: #F4F4F4;
    margin-top: 150px;
    margin-bottom: 150px;
}

.services-wrapper {
    align-items: top;
    width: 80%;
    margin: auto;
    padding: 130px 0px;
}

.services-wrapper h2 {
    font-size: 3.1rem;
    font-weight: 800;
    color: #056341;
    width: 800px;
    margin: auto;
    text-align: center;
    margin-bottom: 56px;
}


.services-card-wrapper {
    display: flex;
    justify-content: space-between;
}


.references {
    width: 80%;
    margin: auto;
}

.references h2 {
    font-size: 3.1rem;
    font-weight: 800;
    color: #056341;
    width: 800px;
    margin: auto;
    text-align: center;
    margin-bottom: 56px;
}









.blog-page {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 50px;
    color: #056341;
}


.admin-page {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 50px;
    color: #056341;


    /* border: 2px dashed #bdeede; */
}